<div class="menu">

  <form action="/users/profile" method="get">
    <input type="submit" value="Profile">
  </form>

  <form action="/games/hangman">
    <input type="submit" value="Play Hangman">
  </form>
  
  <form action="/sessions" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Log Out">
  </form>

</div>