<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Games Project</title>
  <link rel="stylesheet" href="stylesheets/normalize.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="stylesheets/styles.css" media="screen" title="no title" charset="utf-8">
  <script src="javascripts/jquery.min.js" type="text/javascript"></script>
  <script src="javascripts/jquery.js" type="text/javascript"></script>
  <script src="javascripts/scripts.js" type="text/javascript"></script>
</head>
<body>
  <div class="container">
  <% if current_user %>
    <%= erb :'/partials/_user_nav'%>
  <% else %>
    <%= erb :'/partials/_non_user_nav'%>
  <% end %>  
  
    <%= yield %>
  </div>
  
</body>
</html>