<h1>HANGMAN</h1>

<canvas id="board" width="200" height="200"></canvas>
<div id="play">New Game</div> 
<div id="clear">Clear Score</div>
<p id="word"></p>
<div id="letters"></div>
<div class="random" id="<%= @word %>"></div>


<script charset="utf-8">
var $canvas;
var context;



var letters = $('#letters');
var word = $('#word');
var wordToGuess;
var wordLength;
var badGuesses;
var correctGuesses;


$(function(){
  $canvas = $('#board')
  context = $canvas[0].getContext('2d');

  $('#play').on('click', function(e){
    newGame();
  })

  $('#clear').on('click', function(e){
    resetScore();
  })
})

function newGame() {
  var placeholders = '';
  var frag = $(document.createDocumentFragment());
 
  abc = ['A','B','C','D','E','F','G','H','I','J','K','L','M', 'N','O','P','Q','R','S','T','U','V','W','X','Y','Z'];
  badGuesses = 0;
  correctGuesses = 0;
  wordToGuess = $("div.random")[0].id;
  wordLength = wordToGuess.length;
 
  for (var i = 0; i < wordLength; i++) {
    placeholders += ' __';
  };
 
  $(word).html(placeholders);

  $(letters).html('');
  for (i = 0; i < 26; i++) { 
    var span = $(document.createElement('span')); 
    $(span).html(abc[i]); 
    $(span).css('cursor','pointer');
    $(span).on('click', function(e) {
       getLetter();
    });
    $(frag).append(span); 
  }; 
  $(letters).append(frag); 
}

function getLetter() { 
  checkLetter($(this).html);
  $(this).html('&nbsp;');
  $(this).css('cursor','default');
  $(this).on('click', null);
}

function checkLetter(letter) {
    debugger;
  // body...
}

function resetScore() {
  alert('Score has been reset');
}

</script>