<h1>HANGMAN</h1>

<canvas id="board" width="200" height="200"></canvas>
<button type="button" id="play">New Game</button> 
<button type="button" id="clear">Clear Score</button>
<p id="word"></p>
<div id="letters"></div>
<div class="random" id="<%= @word %>"></div>


<script charset="utf-8">
var $canvas;
var context;

var letters = $('#letters');
var word = $('#word');
var wordToGuess;
var wordLength;
var badGuesses;
var correctGuesses;


$(function(){
  $canvas = $('#board')
  context = $canvas[0].getContext('2d');

  $('#play').on('click', function(e){
    newGame();
  })

  $('#clear').on('click', function(e){
    resetScore();
  })
})

function newGame() {
  var placeholders = '';
  var frag = $(document.createDocumentFragment());
 
  abc = ['A','B','C','D','E','F','G','H','I','J','K','L','M', 'N','O','P','Q','R','S','T','U','V','W','X','Y','Z'];
  badGuesses = 0;
  correctGuesses = 0;
  wordToGuess = $("div.random")[0].id;
  wordLength = wordToGuess.length;
 
  for (var i = 0; i < wordLength; i++) {
    placeholders += '_';
  };
 
  $(word).html(placeholders);
  $(letters).html('');
  
  var span;
  for (i = 0; i < 26; i++) { 
    span = $(document.createElement('span')); 
    $(span).html(abc[i]); 
    $(span).css('cursor','pointer');
    $(span).on('click', function(e) {
      getLetter($(this));
    });
    $(frag).append(span);
  }; 
  $(letters).append(frag); 
}

function getLetter(selectedLetter) {
  checkLetter(selectedLetter.html());
  selectedLetter.html('&nbsp;');
  selectedLetter.css('cursor','default');
  selectedLetter.on('click', null);
}

function checkLetter(letter) {
  var placeholders = $(word).html();

  wrongGuess = true;
  placeholders = placeholders.split('');

  for (var i = 0; i < wordLength; i++) {
    if(wordToGuess.charAt(i) === letter.toLowerCase()) {
      placeholders[i] = letter;
      wrongGuess = false;
      correctGuesses+=1;
      if (correctGuesses == wordLength) {
        drawCanvas();
      }
    }
  }

  if(wrongGuess) {
    badGuesses+=1;
    drawCanvas();
  };

  $(word).html(placeholders.join(''));
}

function drawCanvas() {

  if(correctGuesses == wordLength) {
    letters.html('');
    $("h1").html("Good Job! You win.");
    showResult();
  }
  else if(badGuesses == 1) {
    $("h1").html("That's 1 guess.");
  } 
  else if(badGuesses == 2) {
    $("h1").html("That's 2 guess.");
  } 
  else if(badGuesses == 3) {
    $("h1").html("That's 3 guess.");
  } 
  else if(badGuesses == 4) {
    $("h1").html("That's 4 guess.");
  } 
  else if(badGuesses == 5) {
    letters.html('');
    $("h1").html("Sorry. Better luck next time");
    showResult();
  };
};

function showResult() {
  var placeholders = $(word).html();
  placeholders = placeholders.split('');
  for (var i = 0; i < wordLength; i++) {
    if (placeholders[i] == '_') {
      placeholders[i] = '<span style="color:red">' + wordToGuess.charAt(i).toUpperCase() +'</span>';
    };
  };
  $(word).html(placeholders.join(''));
}; 



function resetScore() {
  alert('Score has been reset');
}

</script>